@import 'reset',  
	'variables',
	'custom', 
	'fonts',
	'./components/cardWrap',
	'./components/search';

#app {
	background-color: color(background);    
	font-family: 'Roboto', sans-serif;
	min-width: 300px;

	> div {
		color: color(text);
		display: block;
		margin: 0 auto;
		max-width: 90%;
		position: relative;
		width: 1200px;
	}
} 

